p {
	color: white;
}



.flex-container {
	display: flex;
	padding:0px 0px 0px 0px;
	align-content: space-around;
	

}

.flex-container-input {
	display: flex;
	padding:0px 0px 10px 0px;
	align-content: space-around;
	align-items: stretch;
}


.flex-element-input1 {
	flex: 3;
	
}

.flex-element-input2 {
	flex: 1;

	
}

.flex-element1 {
	flex: 1;
	padding: 0px;
	display: fixed;
	background-color: #35383d;
	border-radius: 20px;
	padding: 10px;
	margin-left: 10px;
	margin-top: 5px;
	
}

.flex-element3 {
	flex: 1;
	background-color: #001628;
	padding: 20px;
	display: none;
}

.flex-element2 {
	flex: 3;
	margin: 0px;
	padding: 20px;
	background-color: white;
	border-width: 0px;

}

.submit {
	
	
	text-align: center;
	margin-top:15px;
	font-size: 20px;
	cursor: pointer;
	color: white;
	background-color: #35383d;	

}

.margin-clear {
	margin: auto;
}

.hide-menu {

	display: none;
	width: 50%;
	

}

@media only screen and (max-width: 600px) {
	.flex-element1{
		display: none;
		
	}

	.hide-menu{
		display: block;
	}	

}
 