p {
	font-color: white;
}


.mega:hover {
  background-color: #242526;
  cursor: pointer;
  color: white;

}

.mega {
  
  cursor: pointer;
  color: black;
 
}

.flex-container {
	display: flex;
	padding:0px 0px 10px 0px;
	align-content: space-around;
	

}

.flex-container-input {
	display: flex;
	padding:0px 0px 10px 0px;
	align-content: space-around;
	align-items: stretch;
}


.flex-element-input1 {
	flex: 3;
	
}

.flex-element-input2 {
	flex: 1;

	
}

.flex-element1 {
	flex: 1;
	padding: 0px;
	display: fixed;
	background-color: #35383d;
}

.flex-element3 {
	flex: 1;
	background-color: #001628;
	padding: 20px;
	display: none;
}

.flex-element2 {
	flex: 3;
	margin: 0px;
	padding: 30px;
	background-color: white;
	border-width: 0px;

}

.submit {
	
	border-bottom: 1px solid #dee2e2;
	text-align: center;
	background-color: white

}

.margin-clear {
	margin: auto;
}

.hide-menu {

	display: none;
	width: 50%;
	

}

@media only screen and (max-width: 600px) {
	.flex-element1{
		display: none;
		
	}

	.hide-menu{
		display: block;
	}	

}
 