

p {
	font-color: white;
	color: white;

}

.question-div {
	margin: 5px;
}

.search-display {
 	margin: 10px;
 	padding: 10px;
 	background-color: #a9c4f2;
 	border-radius: 10px;
 }

.search-hide {
	display: none;
}


.askButton {

	background-color: gray;
	color: black;
	width: 50%;
	border-width: 1px;
	overflow-x: hidden;
	display: inline;
	border-radius: 5px;
	text-decoration: none;
	border-color: none;

}

.askButton:hover {

	background-color: white;
	font-weight: bold;
	color:black;
}

.askButton:focus {
	outline:0;
}

