.header {
	background-color: #35383d;

}

.imground {
	
	border-width: 3px;
	border-bottom-style: solid;
	border-top : 5px solid white;
	border-bottom:  5px solid white;
	
}

.icon-parent {
	position: relative;
	width: 100%;
	float: right;
}

.icon {

	position: relative;
	float: right;
	width: 100%;
	color: white;
	font-size: 30px;

}

a:hover{
	color: inherit;
	font-color : white;
}